.alert-primary {
    background-color: $primary;
}
.alert-warning {
    background-color: $warning;
}

.alert-danger {
    background-color: $danger;
}

.alert-success {
    background-color: $success;
}
